{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="col-sm-9">
    <h2>About Us</h2>
    <p>Welcome to our Social Media site where you can post and talk about your feelings with others.
    Feel free and confortable posting about your feelings whether they are
    positive or not This is a start up social networking website that was build by
    Eduardo Iniguez, Alexander Lanza, Peter Bellagh, Conner Swann, Herbie Duah, and Keith Saunders </p>
</div>
{% endblock %}