{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

                 <div class="panel panel-default">
					<div class="panel-heading">
						<h4>Username</h4>
					</div>
                    <div class="panel-body">
                      <ul class="list-group">
                        <li class="list-group-item">
                          Profile Picture
                        </li>
                        <li class="list-group-item">
                          First Name:
						</li>
                      <li class="list-group-item">
                        Last Name:
					  </li>
                      </ul>
                    </div><!--/panel-body-->
                 </div><!--/panel-->


{% endblock %}