<!-- 
used for /explore and /feed. The views decide what 
post information to pass to the template
-->

{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="well"> 
	<form class="form-horizontal" role="form">

			<div class="form-group" style="padding:1px;">
				<textarea class="form-control" placeholder="Post your struggle"></textarea>
			
			<button class="btn btn-success pull-right" type="button">Post</button>
			</div>
	</form>
</div><!--/well-->

<!--Mustache Content Feed-->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Username's Post</h4>
		<h5>(time)</h5>
	</div>
	<p>
		  ohh Mann I don't enough jelly for my peanut butter jelly sandwich
	</p>
	<div class="well"> 
	<ul class="list-group">
		<li class="list-group-item">
			Username (time): Comment 1
		</li>
		<li class="list-group-item">
			Username (time): Comment 2
		</li>
	</ul>
	
	<form class="form-horizontal" role="form">
			<div class="form-group" style="padding:15px;">
				<textarea class="form-control" placeholder="Write a comment..."></textarea>
				<button class="btn btn-success pull-right" type="button">Post</button>
			</div>
	</form>
</div><!--/well-->

</div><!---->				
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Username's Post</h4>
		<h5>(time)</h5>
	</div>
	<p>
		  ohh Mann I don't enough jelly for my peanut butter jelly sandwich
	</p>
	<div class="well"> 
	<ul class="list-group">
		<li class="list-group-item">
			Username (time): Comment 1
		</li>
		<li class="list-group-item">
			Username (time): Comment 2
		</li>
	</ul>
	
	<form class="form-horizontal" role="form">
			<div class="form-group" style="padding:15px;">
				<textarea class="form-control" placeholder="Write a comment..."></textarea>
				<button class="btn btn-success pull-right" type="button">Post</button>
			</div>
	</form>
</div><!--/well-->

</div><!---->			

  
{% endblock %}