{% extends "basesplash.html" %}
{% load bootstrap3 %}
{% block content %}
<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-2">
				
                                     <h2>Share your struggles with the world around you on FMLBook</h2>
                                    <!-- add image to splash page --> 
					<img class="img-responsive" src="" alt="">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-2">

				{% if messages %}
				<div class="alert alert-danger" role="alert">
					{% for message in messages %}
						{{ message.message }}
					{% endfor %}
				</div>
				{% endif %}

				<form action="/login" method="post" class="form">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-sign-in"> Submit</i> 
					</button>
				{% endbuttons %}
				</form>
				</div>
			</div><!-- /row -->
		</div><!-- /container -->
</div><!-- /headerwrap -->
{% endblock %}