{% extends "basesplash.html" %}
{% load bootstrap3 %}
			{% block navForm %}
			<div class="form-group">

			    <form action="/login" method="post" class="navbar-form pull-right">

				{% csrf_token %}

				{% bootstrap_form authform layout='inline'%}
				{% buttons %}
					<button type="submit" class="btn btn-primary">
						Sign in
					</button>
				{% endbuttons %}

				</form>
			{% endblock %}
			
{% block content %}
<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-2">
				
                                     <h2>Share your struggles with the world around you on FMLBook</h2>
                                    <!-- add image to splash page --> 
					<img class="img-responsive" src="" alt="">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-2">
				
					<h1>Sign Up</h1><span><h2>It's free and always will be.</h2></span>

						<div class="form-group">
						
							{% if messages %}
							<div class="alert alert-danger" role="alert">
								{% for message in messages %}
									{{ message.message }}
								{% endfor %}
							</div>
							{% endif %}
							<form action="/" method="post" class="signupform">
								{% csrf_token %}
								{% bootstrap_form signupform layout='inline' %}
								{% buttons %}
									<button type="submit" class="btn btn-success">
										Sign Up
									</button>
								{% endbuttons %}
							</form>
						</div>	
							
				</div><!-- /col-lg-6 -->
			</div><!-- /row -->
		</div><!-- /container -->
</div><!-- /headerwrap -->
{% endblock %}